#pages-layout .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#pages-layout .trigger:hover {
  color: #1890ff;
}

#pages-layout .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.3);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}
#pages-layout {
  height: 100%;
  // 侧边栏左侧区域
  .sider-wrap {
    position: fixed;
    height: 100%;
  }
  // 右侧区域
  .site-layout {
    height: 100%;
    transition: all .2s;
  }
  // header区域
  .layout-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .operate {
      height: 100%;
      padding-right: 20px;
      ul {
        height: 100%;
        display: flex;
        li {
          height: 100%;
          width: 100px;
          text-align: right;
        }
      }
    }
  }
  // 内容区域
  .content-wrap {
    min-height: auto;
  }
}